/* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla/Karla-VariableFont_wght.ttf');
}

:root {
    --font-size-h1: 1.5rem;
    --font-size-nav: 0.75rem;
    --font-size-main-p: 0.875rem;
    --font-size-footer-p-title: 1rem;
    --font-size-footer-p1: 0.875rem;
    --font-size-footer-p2: 0.75rem;
    --font-color-dark-gray: #323A45;
    --font-color-black: #000;
    --font-color-light-gray: #848484;
}

/* Font-Family for the entire HTML */

html {
    font-family: 'Karla';
}

/* a-tags with the same font-color dark gray */

a {
    color: var(--font-color-dark-gray);
}

/* Font-Styling of nav, main and footer p-tags */

.navFont {
    text-transform: uppercase;
    font-size: var(--font-size-nav);
    font-weight: 700;
}

.pFontBold {
    font-size: var(--font-size-main-p);
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--font-color-black);
}

.pFontLight {
    font-size: var(--font-size-main-p);
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--font-color-light-gray);
}

.pFooterBold {
    font-size: var(--font-size-footer-p-title);
    font-weight: 700;
    color: var(--font-color-black);
}

.pFooterMedium {
    font-size: var(--font-size-footer-p1);
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--font-color-black);
}

.pFooterLight {
    font-size: var(--font-size-footer-p2);
    font-weight: 400;
    color: var(--font-color-dark-gray);
}

/* Sizing of alle images */

img {
    width: 100%;
    height: max-content;
    object-fit: cover;
}

/* Hover effect on all images */

img:hover {
    opacity: 0.5;
}

/* Padding for the entire body */

body {
    padding: 0 2rem 1rem 2rem;
}

/*  Display Grid for header */

header {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15vh;
    grid-template-areas: "h1 . nav";
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 1;
}

/* Font-Styling of H1 and Grid-Area h1 */

h1 {
    text-transform: uppercase;
    font-size: var(--font-size-h1);
    font-weight: 700;
    color: var(--font-color-dark-gray);
    grid-area: h1;
}

/* Grid Area on Nav-Bar and Display Grid for li-elements */

header nav {
    grid-area: nav;
    justify-self: end;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "li1 li2 li3";
}

header nav li:nth-of-type(1) {
    grid-area: li1;
    justify-self: end;
}

header nav li:nth-of-type(2) {
    grid-area: li2;
    justify-self: end;
}

header nav li:nth-of-type(3) {
    grid-area: li3;
    justify-self: end;
}

/* Grid on main sections */

main {
    display: grid;
    grid-template-rows: repeat(10, max-content);
    grid-template-areas: 
    "section1"
    "section2"
    "section3"
    "section4"
    "section5"
    "section6"
    "section7"
    "section8"
    "section9"
    "section10";
    gap: 10vh;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

.section4 {
    grid-area: section4;
}

.section5 {
    grid-area: section5;
}

.section6 {
    grid-area: section6;
}

.section7 {
    grid-area: section7;
}

.section8 {
    grid-area: section8;
}

.section9 {
    grid-area: section9;
}

.section10 {
    grid-area: section10;
}

/* Grid on Sections with 6 images */

.section6Img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: 
    "article1 article2 article3"
    "article4 article5 article6";
    gap: 2rem;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.article3 {
    grid-area: article3;
}

.article4 {
    grid-area: article4;
}

.article5 {
    grid-area: article5;
}

.article6 {
    grid-area: article6;
}

/* Grid on Sections with 3 images */

.section3Img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, max-content);
    grid-template-areas: 
    "article1 article2 article3";
    gap: 2rem;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.article3 {
    grid-area: article3;
}

/* Grid on each part with image and description */

.imgDescrGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "image image"
    "productName price"
    "company .";
}

.image {
    grid-area: image;
    margin-bottom: 1vh;
}

.productName {
    grid-area: productName;
}

.price {
    grid-area: price;
    justify-self: end;
}

.company {
    grid-area: company;
}

/* Grid on footer */

footer {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "shop contact newsletter socialM"
    "founder contactOpt getInTouch socialMChan"
    "copyright . . .";
    gap: 2rem;
}

.shop {
    grid-area: shop;
}

.contact {
    grid-area: contact;
}

.newsletter {
    grid-area: newsletter;
}

.socialM {
    grid-area: socialM;
    justify-self: center;
}

.founder {
    grid-area: founder;
}

.contactOpt {
    grid-area: contactOpt;
}

.getInTouch {
    grid-area: getInTouch;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
    "subscribe1"
    "subscribe2";
}

.subscribe1 {
    grid-area: subscribe1;
}

.subscribe2 {
    grid-area: subscribe2;
}

.socialMChan {
    grid-area: socialMChan;
    justify-self: center;
}

/* Font-Styling of copyright + grid-area */

.copyright {
    font-size: var(--font-size-footer-p2);
    font-weight: 400;
    color: var(--font-color-light-gray);
    grid-area: copyright;
}

/* Styling of span in footer vom 700 to 800 font weight */

span {
    font-weight: 800;
}